.root {
    -fx-padding: 10px;
    -my-grid-spacing: 50px;
    -box-spacing: 30px;
}

.spacedBox {
   -fx-spacing: -box-spacing;
}

.text-area {
    -fx-pref-height: 150px;
}

.grid {
    -fx-spacing: -my-grid-spacing;
}

.grid VBox {
    -fx-spacing: -my-grid-spacing;
}

.grid .button{
    -fx-pref-height: 80px;
}

.buttonGrid {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.adminPlayGrid {
    -fx-vgap: 20px;
    -fx-hgap: 20px;
}

.play-flow-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.play-flow-pane FlowPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.play-flow-pane HBox, .play-flow-pane VBox {
    -fx-spacing: 10px;
}

.answerTitle {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 1.6em
}

.answerText {
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-font-size: 1.5em;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-wrap-text: true;
}

.play-flow-pane ComboBox, .play-flow-pane Button, .play-flow-pane TextField {
    -fx-font-size: 1.6em;
}

.buzzerQueue {
    -fx-alignment: top-left;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.questionPoints {
     -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 1.6em
}

.teamCheck {
    -fx-wrap-text: true;
    -fx-alignment: center-left;
}