.root {
    -fx-padding: 20px;
    -my-grid-spacing: 50px;
    -box-spacing: 30px;
}

.spacedBox {
   -fx-spacing: -box-spacing;
}

.text-area {
    -fx-pref-height: 150px;
}

.grid {
    -fx-spacing: -my-grid-spacing;
}

.grid VBox {
    -fx-spacing: -my-grid-spacing;
}

.grid .button{
    -fx-pref-height: 80px;
}