.root {
    -fx-background-color: black;
}

* {
    -fx-text-fill: white;
}

GridPane {
    -fx-vgap: 30px;
    -fx-hgap: 30px;
    -fx-padding: 30px;
    -fx-text-alignment: center;
}

.category {
    -fx-alignment: center;
    -fx-font-size: 3em;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.myButton {
    -fx-font-size: 3.2em;
    -fx-background-color: teal;
    -fx-background-radius: 40px;
}

.categories {
    -fx-spacing: 30px;
    -fx-alignment: center;
}

myButton :disabled {
    -fx-opacity: 10;
}

HBox {
    -fx-padding: 0 30px;
    -fx-text-alignment: center;
}

VBox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}


.points {
    -fx-padding: 10px 10px 0;
    -fx-background-color: #C0597D;
    -fx-background-radius: 10px 10px 0 0;
    -fx-font-size: 2.5em;
    -fx-min-width: 230px;
    -fx-alignment: center;
}

.teamName {
    -fx-font-size: 2em;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.stackQuestion {
    -fx-background-color: #505050;
    -fx-border-color: teal;
    -fx-border-radius: 50px;
    -fx-border-width: 10px;
    -fx-background-radius: 30px;
    -fx-border-insets: 0 75px;
    -fx-background-insets: 25px 100px;
}

.textQuestion Label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.textQuestion {
    -fx-font-size: 6.5em;
    -fx-padding: 50px;
}

.bildQuestion {
    -fx-alignment: top-center;
    -fx-padding: 15px;
}

.bildQuestion Label {
    -fx-background-color: teal;
    -fx-background-radius: 30px 30px 0 0;
    -fx-border-color: teal;
    -fx-border-radius: 50px;
    -fx-border-width: 15px;
    -fx-font-size: 4em;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.buzzered {
    -fx-background-color: #FF8749;
}